<div class="container-fluid">
    <br>
<h2><b>Reset Password Form</b></h2>
<hr>

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-7">
<div><br>

<img src="" class="img-fluid" style="height: 150px;">
<h3>Reset Password</h3>
<h6>Please enter your email to search for your account.</h6>

<div class="card">
<div class="container-fluid">
    <br>
        <form action="" method="POST" autocomplete="off">
        <div class="form-group has-feedback">
            <label>Email Address</label>
            <hr>
            <input type="email" name="inp_email" class="form-control" placeholder="Enter Email Address here.." required="">

        </div><br>
        <button type="button" class="btn text-light btn-block" style="margin-bottom: 15px; float: right; width: 100%;"><i class="bx bx-key"></i> Reset Password</button>
        <button type="button" name="btnSubmit" class="btn btn-block btn-primary" value="Send Message" style="width: 100%;">Reset Password</button>
        <a href="#" type="submit" class="btn btn-md btn-default" style="margin-bottom: 15px; float: right; width: 100%;"><i class="bx bx-user"></i> Already Registered? Login Now!</a>
    </form>
</div>
</div>
<br>
</div>

</div>
</div>
</div>