<div id="wrapper">
    <app-sidemenu></app-sidemenu>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-header></app-header>
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row h1">
                    <div class="col-md-12">
                        <img class="img-responsive" style="height: 110px; position: absolute; top: -10px"
                            src="../../../assets/brgyhall.png">
                        <span style="position: relative; left: 125px;">
                            <h3 style="margin-top: 0px" class="txt-white"><b>Online Barangay Document Request System</b>
                            </h3>
                            <hr>
                            <h6 class="txt-white">
                                An application designed to manage the creation, issuance, and distribution of official documents in a Barangay
                            </h6>
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-primary card-shadow" id="id_main"
                            style="min-height: auto; max-height: auto; margin-top: -10px; height: auto;">
                            <div class="card-header" style="margin-bottom: -12px;">
                                <div class="container-fluid">
                                </div>
                                <hr
                                    style="margin-top: 10px; padding-top: 10px; margin-bottom: 0px; padding-bottom: 0px;">
                            </div>
                            <div class="card-body card-profile">
                                <img class="center img-responsive img-circle" src="/assets/img/undraw_profile.svg"
                                    onerror="this.src='';this.onerror='';" alt="User profile picture"
                                    style="height: 100px;">

                                <h3 class="profile-username text-center"> Dela Cruz, Juan </h3>

                                <p class="text-muted text-center">Total Requested Files</p>


                                <table class="table mb-3">
                                    <tbody>
                                        <tr>
                                            <td class="pb-2">Barangay Clearance</td>
                                            <td class="pull-right">0</td>
                                        </tr>
                                        <tr>
                                            <td class="pb-2">Zone Clearance</td>
                                            <td class="pull-right">0</td>
                                        </tr>
                                        <tr>
                                            <td class="pb-2">Certificate of Indigency</td>
                                            <td class="pull-right">0</td>
                                        </tr>
                                        <tr>
                                            <td class="pb-2">Certificate of Residency</td>
                                            <td class="pull-right">0</td>
                                        </tr>
                                    </tbody>
                                    
                                </table>



                                <a href=""
                                    class="btn btn-info btn-block"><span class="fa fa-asterisk mx-1"></span> <b>Change Password</b></a>
                                <a href="" class="btn btn-primary btn-block"><span
                                        class="fa fa-cogs mx-1"></span> <b>Go to Account Settings</b></a>
                                <br>
                            </div>
                        </div>


                    </div>


                    <div class="col-md-8">
                        <div class="card card-primary card-shadow" id="id_main"
                            style="min-height: 690px; margin-top: -10px; height: auto;">
                            <div class="card-header" style="margin-bottom: -12px;">
                                <div class="container-fluid">
                                </div>
                                <hr
                                    style="margin-top: 10px; padding-top: 10px; margin-bottom: 0px; padding-bottom: 0px;">
                            </div>
                            <div class="card-body card-profile">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                            <tr>
                                                <th width="20">#</th>
                                                <th width="200">Type of Request</th>
                                                <th>Purpose</th>
                                                <th width="100">
                                                    Status
                                                </th>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <br><br>
                                    <img src="../../../assets/no-results.png" class="center" width="150px" height="145px">
                                    <h2 class="txt-header mt-3"
                                        style="color: #606060; text-align: center; font-style: italic;"><b>No Request Yet!</b></h2>
                                    <br>
                                    <hr>
                                    <span class="fa fa-check"></span> Request Count (
                                    0)
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <app-footer></app-footer>
        </div>
    </div>