<div id="wrapper">
    <app-sidemenu></app-sidemenu>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-header></app-header>
            <div class="container-fluid">

                <br>
                <div class="row" style="font-family: Nunito !important;">
                    <div class="col-md-12">
                        <div class="box box-primary box-shadow" id="id_main"
                            style="min-height: 770px; margin-top: -10px; height: auto;">
                            <div class="box-header" style="margin-bottom: -12px;">
                                <div class="container-fluid">
                                    <h4 class="txt-header"><b><span class="fa fa-book"></span> List of Document Request
                                        </b></h4>
                                </div>
                                <hr
                                    style="margin-top: 10px; padding-top: 10px; margin-bottom: 0px; padding-bottom: 0px;">
                            </div>
                            <div class="box-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <th width="20">#</th>
                                                            <th width="200">Type of Request</th>
                                                            <th>Purpose</th>
                                                            <th width="150">Date of Request</th>
                                                            <th width="100">Status</th>
                                                            <th width="100">Action</th>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                                <br><br>
                                                <img src="../../../assets/no-results.png" class="center" width="200px" height="190px">
                                                <h2 class="txt-header mt-3"
                                                    style="color: #606060; text-align: center; font-style: italic;">
                                                    <b>No Request Yet!</b></h2>
                                                <br><br><br>
                                                <hr>
                                                <span class="fa fa-check"></span> Request Count (0)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>