<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <i class="fas fa-fw fa-building"></i>
        </div>
        <div class="sidebar-brand-text mx-1 mt-1">
            <h3>OBDRS</h3>
        </div>
    </a>

    <hr class="sidebar-divider my-0">

    <hr class="sidebar-divider">

    <div *ngIf="role === 'administrator'">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/admin-dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Navigation Menu
        </div>

<!-- Nav Item - Document Request Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-folder"></i>
        <span>Document Request</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="#">Barangay Clearance</a>
            <a class="collapse-item" href="#">Zone Clearance</a>
            <a class="collapse-item" href="#">Certificate of Indigency</a>
            <a class="collapse-item" href="#">Certificate of Residency</a>
        </div>
    </div>
</li>

        <li class="nav-item">
            <a class="nav-link" href="/view-messages">
                <i class="fas fa-fw fa-clipboard-list"></i>
                <span>View Messages</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/request-logs">
                <i class="fas fa-fw fa-chart-bar"></i>
                <span>Generate Reports</span></a>
        </li>

    </div>

    <div *ngIf="role === 'client'">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Navigation Menu
        </div>

        <!-- Nav Item - Request Document -->
        <li class="nav-item">
            <a class="nav-link" href="/request-document">
                <i class="fas fa-fw fa-folder"></i>
                <span>Request Document</span></a>
        </li>


        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/request-logs">
                <i class="fas fa-fw fa-clipboard-list"></i>
                <span>Request Logs</span></a>
        </li>

    </div>

</ul>