<div id="wrapper">
  <app-sidemenu></app-sidemenu>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-header></app-header>
      <div class="container-fluid">
        <br />
        <div class="row">
          <div class="col-md-12">
            <div
              class="card card-primary card-shadow"
              id="id_main"
              style="min-height: 100%; margin-top: -10px; height: auto"
            >
              <div class="card-header" style="margin-bottom: -12px">
                <div class="container-fluid">
                  <h4 class="txt-header">
                    <span class="fas fa-fw fa-file-alt"></span> Request
                    Documents
                  </h4>
                </div>
                <hr
                  style="
                    margin-top: 10px;
                    padding-top: 10px;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                  "
                />
              </div>
              <div class="card-body">
                <div class="container-fluid txt">
                  <div class="row">
                    <div class="col-md-6">
                      <table class="table mb-3">
                        <tbody>
                          <tr>
                            <th>Document Type</th>
                            <th>Requirements</th>
                            <th class="pull-right">Fee</th>
                          </tr>
                          <tr>
                            <td class="pb-2">Barangay Clearance</td>
                            <td>Zone Clearance</td>
                            <td class="pull-right">₱ 100.00</td>
                          </tr>
                          <tr>
                            <td class="pb-2">Zone Clearance</td>
                            <td>None</td>
                            <td class="pull-right">₱ 20.00</td>
                          </tr>
                          <tr>
                            <td class="pb-2">Certificate of Indigency</td>
                            <td>Zone Clearance</td>
                            <td class="pull-right">₱ 50.00</td>
                          </tr>
                          <tr>
                            <td class="pb-2">Certificate of Residency</td>
                            <td>Zone Clearance</td>
                            <td class="pull-right">₱ 50.00</td>
                          </tr>
                        </tbody>
                      </table>
                      <hr />
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="container-fluid">
                          <h4 class="txt-header">
                            <span class="fas fa-fw fa-credit-card"></span>
                            Payment Method
                          </h4>
                          <ol>
                            <li>In-person Payment</li>
                            <li>GCash (Proof of Billing)</li>
                          </ol>
                          <ul>
                            <li>
                              <b>NOTE: </b
                              ><i
                                >For In-Person Payment, just leave the
                                <b>'Proof of Billing'</b> blank</i
                              >
                            </li>
                            <li>
                              <b>BARANGAY GCASH ACCOUNT #:</b> 0912-345-6789
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <img
                          src="../../../assets/gcash.png"
                          class="img-responsive mx-1 mt-4"
                          width="65%"
                          height="60%"
                        />
                      </div>
                    </div>
                  </div>
                  <form
                    [formGroup]="requestForm"
                    (ngSubmit)="onSubmit()"
                    enctype="multipart/form-data"
                  >
                    <div class="row">
                      <div class="col-md-12">
                        <hr />
                        <div class="form-group">
                          <label>Request Files <b class="lbl-red">*</b></label>
                          <select
                            class="form-control"
                            formControlName="inp_documents"
                          >
                            <option selected disabled value="">
                              -- SELECT --
                            </option>
                            <option value="Barangay Clearance">
                              Barangay Clearance
                            </option>
                            <option value="Zone Clearance">
                              Zone Clearance
                            </option>
                            <option value="Certificate of Indigency">
                              Certificate of Indigency
                            </option>
                            <option value="Certificate of Residency">
                              Certificate of Residency
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label
                            >Attach File (Place your 'Zone Clearance'
                            here)</label
                          >
                          <input
                            type="file"
                            class="form-control"
                            (change)="handleFileInput($event, 'inp_file')"
                            accept=".png,.pdf,.jpg"
                            multiple
                          />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Proof of Billing </label>
                          <input
                            type="file"
                            class="form-control"
                            (change)="handleFileInput($event, 'inp_billing')"
                            accept=".png,.pdf,.jpg"
                            multiple
                          />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label
                            >Purpose of Request <b class="lbl-red">*</b></label
                          >
                          <textarea
                            class="form-control"
                            placeholder="Write here.."
                            formControlName="inp_purpose"
                            rows="3"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <p>
                      <input
                        type="checkbox"
                        formControlName="term"
                        style="font-size: 52px !important"
                      />
                      <i
                        ><i
                          >[ <b style="color: red">IMPORTANT</b> ] I understand
                          that if I decided to cancel my document request. The
                          Brgy will not be obligated to refund any of the
                          transaction fees. I have provided accurate and true
                          information.</i
                        ></i
                      >
                    </p>
                    <hr />
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <a
                          href="/request-document"
                          class="btn btn-default txt"
                          style="letter-spacing: 2px"
                        >
                          <span class="fa fa-angle-double-left"></span> Return
                        </a>
                        <button
                          class="btn btn-danger txt"
                          [disabled]="requestForm?.invalid"
                          style="letter-spacing: 2px"
                        >
                          <span class="fa fa-times"></span> Submit Now!
                        </button>
                      </div>
                    </div>
                  </form>
                  <hr />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
