<div id="wrapper">
    <app-sidemenu></app-sidemenu>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-header></app-header>
            <div class="container-fluid">


                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">View Messages</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Complete Name</th>
                                        <th>Resorts</th>
                                        <th>Feedbacks</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Complete Name</th>
                                        <th>Resorts</th>
                                        <th>Feedbacks</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Dela Cruz, Juan A.</td>
                                        <td>Barangay Clearance Update</td>
                                        <td>No Feedback Shared</td>
                                        <td><button class="btn btn-info">View</button></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Rivera, Marian J.</td>
                                        <td>Certificate Inquiry</td>
                                        <td>No Feedback Shared</td>
                                        <td><button class="btn btn-info">View</button></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Gomez, Richard L.</td>
                                        <td>Change of Residency</td>
                                        <td>No Feedback Shared</td>
                                        <td><button class="btn btn-info">View</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            <app-footer></app-footer>
        </div>
    </div>