<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Printing...</title>
</head>

<body onload="window.print()">

    <img src="../../../assets/brgyhall.png" height="80">
    <br>
    <h3>Online Barangay Document Request System</h3>
    <small><i>Republic of the Philippines - Province of Misamis Oriental - Municipality of Tagoloan</i></small>

    <br>
    <div class="col-lg-12" style="
background-image: ;
background-repeat: no-repeat;
background-position: center;
background-size: 550px;
padding-left: 20px;
">
        <div style="font-family: 'Arial'">

            <br>
            <h3>OFFICE OF THE PUNONG BARANGAY</h3>
            <h2><b>CERTIFICATE OF INDIGENCY</b></h2>
            <textarea style="background: transparent; font-size: 15px; border: 0; width: 77%; text-align: justify"
                rows="18">TO WHOM IT MAY CONCERN:

        
    THIS IS TO CERTIFY that __________________________ of ___________________, Tagoloan, Misamis Oriental, particularly residing at _____________________ personally known to me.

    THIS IS TO CERTIFY FURTHER that base in our knowledge/record she/he is an Indigent person in our community.

    Issued this 26th day of April 2024 upon request of above named - person for Housing or any legal purposes.    
</textarea>

            <div style="font-size: 18px; margin-right: 80px;">
                <br>
                <span style="float: right;">
                    <b>
                        Hon. Juan V. Dela Cruz<br>
                        PUNONG BARANGAY
                    </b>
                </span>
                <br><br><br><br><br>
            </div>
        </div>
    </div>
</body>

</html>