<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <!--<div class="col-lg-3 d-none d-lg-block">
                    <img src="../../../assets/registration.png" alt="" width="250" height="250"
                        class="img-responsive mx-5 mt-5">
                </div> -->
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4"><span class="fas fa-fw fa-user mx-2"></span>Registration Form</h1>
                        </div>
                        <hr>
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-3 mb-3 mb-sm-0">
                                    <label>First Name <b style="color: red">*</b></label>
                                    <input type="text" class="form-control form-control-user rounded-rectangle" id=""
                                        placeholder="Enter First Name Here...">
                                </div>
                                <div class="col-sm-3 mb-3 mb-sm-0">
                                    <label>Middle Name</label>
                                    <input type="text" class="form-control form-control-user rounded-rectangle" id=""
                                        placeholder="Enter Last Name Here...">
                                </div>
                                <div class="col-sm-3 mb-3 mb-sm-0">
                                    <label>Last Name <b style="color: red">*</b></label>
                                    <input type="text" class="form-control form-control-user rounded-rectangle" id=""
                                        placeholder="Enter Middle Name Here...">
                                </div>
                                <div class="col-sm-3">
                                    <label>Suffix/Prefix Name</label>
                                    <input type="text" class="form-control form-control-user rounded-rectangle" id=""
                                        placeholder="Jr.,Sr.,III">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3 mb-3 mb-sm-0">
                                    <label for="gender">Gender<b style="color: red">*</b></label>
                                    <div class="select-wrapper">
                                        <select class="form-control custom-select rounded-rectangle" id="gender">
                                            <option selected="" disabled="" value="">--Select--</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3 mb-sm-0">
                                    <label for="civil_status">Civil Status<b style="color: red">*</b></label>
                                    <div class="select-wrapper">
                                        <select class="form-control custom-select rounded-rectangle" id="civil_status">
                                            <option selected="" disabled="" value="">--Select--</option>
                                            <option value="single">Single</option>
                                            <option value="married">Married</option>
                                            <option value="divorced">Divorced</option>
                                            <option value="widowed">Widowed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3 mb-sm-0">
                                    <label>Birth Date <b style="color: red">*</b></label>
                                    <input type="date" class="form-control form-control-user rounded-rectangle" id="">
                                </div>
                                <div class="col-sm-3">
                                    <label>Email Address<b style="color: red">*</b></label>
                                    <input type="email" class="form-control form-control-user rounded-rectangle" id=""
                                        placeholder="Enter Email Address Here..">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <label>Complete Address<b style="color: red">*</b></label>
                                    <input type="text" class="form-control form-control-user rounded-rectangle" id=""
                                        placeholder="Enter you complete address here..">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label>Username <b style="color: red">*</b></label>
                                    <input type="password" class="form-control form-control-user rounded-rectangle"
                                        id="" placeholder="Enter Username Here..">
                                </div>
                                <div class="col-sm-6">
                                    <label>Password<b style="color: red">*</b></label>
                                    <input type="password" class="form-control form-control-user rounded-rectangle"
                                        id="" placeholder="Enter Password Here..">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <input type="checkbox" id="term" onclick="terms()">
                                <label for="term" onclick="terms()"
                                    style="font-style: italic; cursor: pointer;margin-top: 10px;margin-left: 10px;">
                                    I Agree to the Online Barangay Document Request System (OBDRS) Data Privacy Consent
                                    and Service Agreement.
                                </label>
                            </div>
                            <hr>

                        </form>
                        <hr>
                        
                        <div class="form-group row">
                            <div class="col-sm-3"> </div>
                            <div class="col-sm-6">                                
                                <div class="text-center">
                                    <a href="/login" class="btn btn-primary btn-block">
                                        <span class="fas fa-fw fa-user-plus mx-2"></span>   Register Account </a>
                                </div>
                            </div>
                            <div class="col-sm-3"> </div>
                        </div>


                        <div class="text-center">
                            <a class="small" href="/forgot-password">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="/login">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>